<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright (C) 2015 Baidu, Inc. All Rights Reserved. -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.island.jprotobuf.rpc.demo.client">
	</context:component-scan>

	<context:component-scan base-package="com.baidu.jprotobuf.pbrpc.spring">
	</context:component-scan>

	<bean
		class="com.baidu.jprotobuf.pbrpc.spring.annotation.CommonAnnotationBeanPostProcessor">
		<property name="callback">
			<bean
				class="com.baidu.jprotobuf.pbrpc.spring.annotation.ProtobufRpcAnnotationResolver">
				<property name="failOverInterceptor" ref="timeoutIngoredSocketFailOverInterceptor"></property>
			</bean>
		</property>
	</bean>

	<bean id="timeoutIngoredSocketFailOverInterceptor"
		class="com.baidu.jprotobuf.pbrpc.client.ha.lb.failover.TimeoutIngoredSocketFailOverInterceptor">
	</bean>

	<bean id="rpcServerOptions" class="com.baidu.jprotobuf.pbrpc.transport.RpcServerOptions">
		<property name="workThreads" value="16" />
	</bean>

	<bean id="rpcClientOptions" class="com.baidu.jprotobuf.pbrpc.transport.RpcClientOptions">
		<property name="threadPoolSize" value="16" />
	</bean>

	<bean class="com.baidu.jprotobuf.pbrpc.data.RpcMeta"></bean>
	<bean class="com.baidu.jprotobuf.pbrpc.data.RpcResponseMeta"></bean>
	<bean class="com.baidu.jprotobuf.pbrpc.data.RpcRequestMeta"></bean>
	<bean class="com.baidu.jprotobuf.pbrpc.data.ChunkInfo"></bean>

</beans>
